<!-- Titolo dell'applicazione -->
<h1>Angular 2 Pokédex</h1>

<!-- Separatore -->
<hr>

<!-- Container principale per visualizzare i Pokemon -->
<div class="pokedex">
  <!-- Itera attraverso la lista dei Pokemon utilizzando la direttiva *ngFor -->
  <div class="pokedex-pokemon" *ngFor="let p of pokemon">
    <!-- ID  PK -->
    <div class="pokedex-pokemon-id">
      #{{ p.id}}
    </div>
    <!-- img  PK -->
    <img [ngClass]="{'hidden': !p.imageLoaded}" class="pokedex-pokemon-imgurl" (load)="p.imageLoaded = true" [attr.src]="p.imgurl">
    <!-- name  Pokemon -->
    <div class="pokedex-pokemon-name">
      {{ p.name | capitalize }}
    </div>
  </div>
</div>

<!-- button -->
<button class="load-button" (click)="loadMore()">
  Show More
</button>