<div class="homeContainer">
    <div>
        <div class="homeImg">
            <img src="../../../assets/welcome.png" alt="welcome image" width="250px">
        </div>
        <div class="homeText">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium excepturi nesciunt. Pariatur laborum quo, fugit labore possimus assumenda culpa, quasi consequuntur praesentium consequatur totam molestiae ducimus officiis enim eos non minima tempora recusandae iusto eum. Officia, rerum tempore?</p>
        </div>
    </div>
</div>
